/*  Correspondiente al codigo general   */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  Correspondiente al codigo general   */
html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #2A2A2A;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  grid-row: 1;
}

main {
  grid-row: 2;
}

footer {
  grid-row: 3;
}

:is(h1, h2, h3, h4, p, legend, img) {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.6875rem, 0.6337rem + 0.287vw, 1.1rem);
  font-weight: normal;
  color: #F2F2F2;
}

a {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  color: #4DD0E1;
}

.ant-carousel {
  width: 200px;
}

@keyframes componenteEntrada {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
/*  Importamos el Layout  */
/*  Correspondiente al codigo general   */
header {
  position: sticky;
  top: 0;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr 1fr;
  height: 13vh;
  width: 100%;
  background-color: #0F0F0F;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.365);
  opacity: 0.9;
}
header img {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
  object-fit: cover;
  max-width: 8.75rem;
  border-radius: 50%;
  padding: 0.625rem;
}
header img:hover {
  scale: 1.8;
  transition: 3s;
  transform: translate(0px, 40px);
  opacity: 1;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}
header div {
  grid-column-start: 2;
  grid-column-end: 10;
}
header div nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row: 2;
  align-items: center;
  justify-items: center;
}
header div nav .lista-principal {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  list-style: none;
  align-items: center;
}
header div nav .lista-principal li:nth-child(1) {
  grid-column: 1;
  text-align: center;
}
header div nav .lista-principal li:nth-child(2) {
  grid-column: 2;
  text-align: center;
}
header div nav .lista-principal li:nth-child(3) {
  grid-column: 3;
  text-align: center;
}
header div nav .lista-principal li:nth-child(4) {
  grid-column: 4;
  text-align: center;
}
header div nav .lista-principal li:nth-child(5) {
  grid-column-start: 5;
  grid-column-end: 6;
  text-align: center;
}
header div nav .lista-principal li:nth-child(6) {
  grid-column-start: 6;
  grid-column-end: 7;
  text-align: center;
}
header div nav .productos .sublista-categoria {
  position: absolute;
  background-color: #2A2A2A;
  padding: 0.75rem;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transform: translateY(-10px);
}
header div nav .productos .sublista-categoria li {
  margin: 1rem;
  list-style: none;
}
header div nav .productos .sublista-categoria li a {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.6875rem, 0.6337rem + 0.287vw, 1.1rem);
  font-weight: normal;
  color: #F2F2F2;
  color: #B2EBF2;
}
header div nav .productos .sublista-categoria li a:hover {
  color: #4DD0E1;
}
header div nav .productos:hover .sublista-categoria {
  transition: 1s;
  opacity: 1;
  transform: translateY(0px);
}
header div nav .cuenta {
  grid-column-start: 6;
  justify-self: flex-end;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header div nav .cuenta p {
  color: #4DD0E1;
}
header div nav .cuenta p span {
  font-size: smaller;
  color: rgb(171, 171, 171);
}
header div nav .cuenta img {
  max-width: 3rem;
}
header div nav .cuenta .sublista-cuenta {
  position: absolute;
  background-color: #2A2A2A;
  padding: 0.75rem;
  border-radius: 15px;
  top: 110px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transform: translateY(-10px);
}
header div nav .cuenta .sublista-cuenta .usuario {
  margin: 1rem;
  font-size: large;
  color: #D84315;
}
header div nav .cuenta .sublista-cuenta li {
  margin: 1rem;
  list-style: none;
}
header div nav .cuenta .sublista-cuenta li a {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.6875rem, 0.6337rem + 0.287vw, 1.1rem);
  font-weight: normal;
  color: #F2F2F2;
  color: #B2EBF2;
}
header div nav .cuenta .sublista-cuenta li a:hover {
  color: #4DD0E1;
}
header div nav .cuenta:hover .sublista-cuenta {
  transition: 1s;
  opacity: 1;
  transform: translateY(0px);
}
header div nav a {
  align-self: flex-start;
  scale: 1.5;
  grid-column-start: 5;
  grid-column-end: 6;
}
header div nav a:hover {
  color: #FF5722;
}
header div nav a:active {
  color: #FF6F00;
}
header div nav a span {
  justify-self: flex-start;
  scale: 1;
  width: 20px;
  height: 20px;
}
header .search {
  grid-column-start: 2;
  grid-column-end: 9;
  background-color: #F2F2F2;
  border-radius: 16px;
  width: 50vw;
  height: 1.85rem;
  align-self: center;
  justify-self: center;
}
header .search input {
  width: 50vw;
  height: 1.85rem;
  background-color: #F2F2F2;
  color: #FF5722;
}

.scroll-down {
  display: none;
}

.scroll-up {
  display: grid;
}

.scroll-down-animation {
  animation-name: scrollDown;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.scroll-up-animation {
  display: grid;
  animation-name: scrollUp;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes scrollDown {
  from {
    width: 100%;
    opacity: 100%;
  }
  to {
    width: 0%;
    opacity: 0%;
  }
}
@keyframes scrollUp {
  from {
    width: 0%;
    opacity: 0%;
  }
  to {
    width: 100%;
    opacity: 100%;
  }
}
/*  Correspondiente al codigo general   */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
main p {
  text-align: center;
  align-self: center;
}

/*  Correspondiente al codigo general   */
footer {
  align-self: flex-end;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-content: center;
  background-color: #0F0F0F;
  min-height: 150px;
  width: 100%;
  padding: 1rem 0;
}
footer section:nth-child(1) {
  grid-column: 1;
  justify-items: center;
  width: 100%;
}
footer section:nth-child(1) h3 {
  font-weight: bold;
  margin-bottom: 0.75rem;
}
footer section:nth-child(1) div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
footer section:nth-child(1) div img {
  width: 3.5rem;
}
footer section:nth-child(1) div img:hover {
  scale: 1.15;
  transition: 1s;
}
footer section:nth-child(2) {
  align-self: center;
  grid-column: 2;
  height: max-content;
}
footer section:nth-child(2) h2 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
  text-decoration: none;
}
footer section:nth-child(3) {
  grid-column: 3;
}

/* Layout de Views */
/*  Correspondiente al codigo general   */
.container-all-products {
  width: 100%;
}
.container-all-products h2 {
  text-align: center;
}

.category-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  min-height: 750px;
  margin-bottom: 3rem;
}
.category-products div {
  margin: 0.5rem;
}
.category-products h2 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
  text-align: center;
  align-content: center;
  margin: 2rem;
}

/*  Correspondiente al codigo general   */
.individual-product {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #0F0F0F;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}
.individual-product .product-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.individual-product .product-selection .carrousel {
  width: 100%;
  height: 100%;
  margin: 2rem;
  padding: 1rem;
  animation: imageAppear 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.individual-product .product-selection .info-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  animation-name: detailAppear;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.individual-product .product-selection .info-detail h2 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
  text-decoration: none;
  width: 50dvw;
  font-size: clamp(0.875rem, 0.7543rem + 0.6435vw, 1.8rem);
  text-align: start;
  padding-top: 2rem;
  padding-left: 2rem;
}
.individual-product .product-selection .info-detail p {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  color: #FF6F00;
  width: 100%;
  text-align: start;
  font-size: clamp(0.8125rem, 0.7098rem + 0.5478vw, 1.6rem);
  margin-top: 1rem;
  padding-left: 2rem;
}
.individual-product .product-selection .info-detail h3 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  text-decoration: underline;
  text-align: center;
}
.individual-product .product-selection .info-detail .item-selector {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.individual-product .product-selection .info-detail .item-selector label {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.6875rem, 0.6337rem + 0.287vw, 1.1rem);
  font-weight: normal;
  color: #F2F2F2;
  width: 100%;
  text-align: center;
}
.individual-product .product-selection .info-detail .item-selector label input {
  margin-top: 0.5rem;
  width: 100%;
  border: 1px solid #FF5722;
  border-radius: 8px;
}
.individual-product .product-selection .info-detail .stock-select {
  margin-top: 1rem;
}
.individual-product .product-selection .info-detail .stock-select div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.individual-product .product-selection .info-detail .stock-select div p {
  width: 100px;
  margin: 0;
  padding: 0;
  text-align: center;
}
.individual-product .product-selection .info-detail .stock-select div button {
  width: 60px;
}
.individual-product .product-selection .info-detail button {
  margin: 1rem;
  width: 400px;
  align-self: center;
}
.individual-product .product-description {
  width: 100%;
  padding: 3.5rem;
  animation-name: descriptionAppear;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.individual-product .product-description h2 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
  text-decoration: none;
  width: 50dvw;
  font-size: clamp(0.875rem, 0.7543rem + 0.6435vw, 1.8rem);
  text-align: start;
  margin-bottom: 1.5rem;
}
.individual-product .product-questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: descriptionAppear;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.individual-product .product-questions img {
  margin-bottom: 0.5rem;
}
.individual-product .product-questions p {
  margin-bottom: 0.5rem;
  color: #4DD0E1;
}
.individual-product .product-questions button {
  margin-bottom: 3rem;
}
.individual-product .product-questions button a {
  color: #0F0F0F;
  text-decoration: underline;
}

@keyframes detailAppear {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes imageAppear {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes descriptionAppear {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateX(0%);
  }
}
/*  Correspondiente al codigo general   */
.cart-list {
  animation-name: componenteEntrada;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}
.cart-list h1 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
  margin: 2rem 0;
}
.cart-list .cart-encargar {
  margin: 1rem 0;
}
.cart-list .cart-encargar50 {
  margin-bottom: 1rem;
}

/*  Correspondiente al codigo general   */
.login-component {
  background-color: #0F0F0F;
  width: 50rem;
  min-height: 30rem;
  border-radius: 50px;
  margin: 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
  animation-name: componenteEntrada;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}
.login-component div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5rem 0;
  gap: 1rem;
}
.login-component h1 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
}
.login-component p {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  font-style: italic;
}
.login-component .inputs {
  background-color: #F2F2F2;
  border-radius: 10px;
}
.login-component .inputs input {
  background-color: transparent;
  color: #0F0F0F;
  width: 600px;
  margin-left: 1.25rem;
}
.login-component .inputs img {
  margin-right: 1.25rem;
  width: 35px;
}

/*  Correspondiente al codigo general   */
.agregar-prod-db {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
  padding: 1rem;
  border-radius: 50px;
  background-color: #0F0F0F;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
  animation-name: componenteEntrada;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}
.agregar-prod-db h1 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
  margin: 2rem 0;
}
.agregar-prod-db h2 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  text-decoration: underline;
}
.agregar-prod-db p {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.6875rem, 0.6337rem + 0.287vw, 1.1rem);
  font-weight: normal;
  color: #F2F2F2;
}
.agregar-prod-db div {
  display: flex;
  flex-direction: column;
}
.agregar-prod-db div div {
  display: flex;
  flex-direction: column;
}
.agregar-prod-db div div input {
  background-color: #330B2C;
  color: #F2F2F2;
  border-radius: 10px;
  max-width: 40rem;
  margin: 1rem 1rem;
}

.actualizar-prod-db {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50px;
  margin-bottom: 4rem;
  background-color: #0F0F0F;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
  animation-name: componenteEntrada;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}
.actualizar-prod-db h1 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
  margin: 2rem 0;
}
.actualizar-prod-db h2 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  text-decoration: underline;
}
.actualizar-prod-db p {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.6875rem, 0.6337rem + 0.287vw, 1.1rem);
  font-weight: normal;
  color: #F2F2F2;
}
.actualizar-prod-db .inputs-db-change {
  display: flex;
  flex-direction: column;
}
.actualizar-prod-db .inputs-db-change input {
  background-color: #330B2C;
  color: #F2F2F2;
  border-radius: 10px;
  max-width: 40rem;
  margin: 1rem 1rem;
}
.actualizar-prod-db .buttons-submit {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 1rem;
}

/*  Correspondiente al codigo general   */
.order {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  width: 100%;
  animation-name: componenteEntrada;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}
.order .finish-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  min-height: 500px;
  background-color: #0F0F0F;
  border-radius: 60px;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}
.order .finish-order h2 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
  margin: 2rem;
}
.order .finish-order form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order .finish-order form input {
  background-color: #330B2C;
  margin-bottom: 2rem;
  width: 80%;
  padding: 0.5rem;
  color: #F2F2F2;
  font-size: large;
}
.order .resume {
  width: 35%;
  min-height: 500px;
  background-color: #0F0F0F;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}
.order .resume h3 {
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  margin: 2rem;
  margin-left: 4rem;
  text-decoration: underline;
}
.order .resume .order-resume {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.order .resume .order-resume .order-resume-prod {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  width: 100%;
}
.order .resume .order-resume .order-resume-prod h4 {
  font-size: 21px;
  width: 160px;
  overflow: hidden;
}
.order .resume .order-resume .order-resume-prod .order-quantity {
  width: 8pxpx;
}
.order .resume .order-resume .order-resume-prod span {
  color: rgba(241, 107, 67, 0.9058823529);
}
.order .resume .order-resume .order-resume-prod img {
  width: 5rem;
  max-height: 5rem;
}
.order .resume .order-resume .order-total {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  gap: 3rem;
  margin-bottom: 2rem;
}
.order .resume .order-resume .order-total p {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  color: #B2EBF2;
  font-weight: bold;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #f6f6f6;
  text-decoration-thickness: 0.5px;
}
.order .resume .order-resume .order-total .order-total-numbers {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.order-fulfilled {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: orderFinished;
  animation-iteration-count: 1;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}
.order-fulfilled .order-finished {
  background: #355903;
  background: radial-gradient(circle, rgb(53, 89, 3) 10%, rgb(0, 83, 20) 80%, rgb(0, 189, 57) 89%);
  width: 800px;
  height: 300px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(255, 102, 0, 0.5);
}
.order-fulfilled .order-finished h2 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
  margin-bottom: 3rem;
}
.order-fulfilled .order-finished p {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
}
.order-fulfilled .order-finished p .order-id {
  color: #D84315;
}
.order-fulfilled .order-finished .order-contact {
  margin-top: 1rem;
}

.ordenes-compra-admin h1 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
  margin-bottom: 3rem;
  text-align: center;
}
.ordenes-compra-admin .order-info-important {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: #330B2C;
  margin: 1rem;
  margin-bottom: 2rem;
  border-radius: 45px;
}
.ordenes-compra-admin .order-info-important .info-important p {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  text-align: center;
}
.ordenes-compra-admin .order-info-important .info-important p span {
  color: #FF5722;
}

@keyframes orderFinished {
  0% {
    width: 0%;
    height: 0%;
    background-color: rgb(0, 102, 0);
    opacity: 0;
  }
  100% {
    background-color: none;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}
/*  Correspondiente al codigo general   */
.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  border-radius: 20px;
  background-color: #0F0F0F;
  padding: 1rem;
  margin-bottom: 3rem;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}
.redes p {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
  padding: 1rem;
}
.redes div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.redes div a img:hover {
  scale: 1.3;
  transition: 1s;
}

.o {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  font-size: 36px;
  font-style: italic;
  margin-bottom: 1rem;
}

.contact {
  margin-top: 3rem;
  margin-bottom: 1rem !important;
}
.contact button {
  margin-top: 1rem;
}

/*  Correspondiente al codigo general   */
.available-colours {
  width: 100%;
}
.available-colours h2 {
  margin-top: 2rem;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
}
.available-colours .colors-container {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.available-colours .colors-container .color-card {
  background-color: #0F0F0F;
  max-width: 300px;
  max-height: 500px;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.available-colours .colors-container .color-card h3 {
  text-align: center;
  margin: 0.75rem;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  font-style: italic;
  text-transform: uppercase;
}
.available-colours .colors-container .color-card img {
  object-fit: contain;
  align-self: center;
  max-width: 180px;
  max-height: 180px;
}

/* Importamos componentes con Logica*/
/*  Correspondiente al codigo general   */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.25rem;
  height: 2.1875rem;
  background-color: #FF5722;
  color: #F2F2F2;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  border-radius: 0.625rem;
  border-color: #FF6F00;
}
button:hover {
  background-color: #F4511E;
}
button:active {
  background-color: #D84315;
  scale: 0.98;
}
button a {
  color: #F2F2F2;
}

.reactivo50 {
  background-color: rgba(241, 107, 67, 0.9058823529);
}

.links {
  background-color: #4DD0E1;
  color: #2A2A2A;
  text-decoration: underline;
  border-color: transparent;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
.links:hover {
  background-color: #B2EBF2;
}
.links a {
  color: #2A2A2A;
}

.secundario {
  background-color: #330B2C;
}

/*  Correspondiente al codigo general   */
input {
  width: 56.25rem;
  height: 3.5rem;
  background-color: #2A2A2A;
  border: none;
  border-radius: 4px;
}
input:focus {
  outline-style: dotted;
  outline-color: #FF5722;
  scale: 1;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
}

textarea {
  width: 56.25rem;
  height: 10rem;
  background-color: #2A2A2A;
  resize: none;
  border: none;
  border-radius: 4px;
}
textarea:focus {
  outline-style: dotted;
  outline-color: #FF5722;
  scale: 1;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
}

/*  Correspondiente al codigo general   */
.remarkable-products {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 6rem;
}
.remarkable-products .card-container-title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.remarkable-products .card-container-title h2 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
}
.remarkable-products .card-container-title img {
  width: 3.5rem;
}
.remarkable-products .card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}
.remarkable-products .card-container .arrow {
  width: 3rem;
  background-color: none;
  border: none;
}
.remarkable-products .card-container .arrow img {
  width: 10rem;
}
.remarkable-products .links {
  align-self: center;
}

.none {
  display: none;
}

.seccion {
  text-align: start;
  text-decoration-style: underline;
  width: 100%;
}

/*  Correspondiente al codigo general   */
.customOrder {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 1.25rem;
  border-radius: 50px;
  background-color: #0F0F0F;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
  margin-bottom: 10rem;
}
.customOrder h2 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
  padding: 2rem;
}
.customOrder div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.customOrder div input, .customOrder div textarea {
  color: #F2F2F2;
  padding: 1rem;
}
.customOrder p {
  padding: 1.5rem;
}

/*  Correspondiente al codigo general   */
.cart-product-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.cart-product {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  grid-template-rows: 2fr;
  align-items: center;
  width: 85%;
  background-color: #0F0F0F;
  border-radius: 3.125rem;
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}
.cart-product input {
  width: 51px;
  grid-column-start: 0;
  grid-column-end: 1;
  grid-row-start: 0;
  grid-row-end: 2;
  align-self: center;
  justify-self: center;
}
.cart-product img {
  width: 100px;
  height: 100px;
  justify-self: center;
  object-fit: contain;
  margin-right: 1rem;
  grid-column-start: 1;
  grid-column-end: 2;
}
.cart-product .cart-info {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-product .cart-info .cart-product {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 0;
  grid-row-end: 1;
  box-shadow: none;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
}
.cart-product .cart-info .cart-description {
  align-self: flex-start;
  text-align: left;
  max-width: 750px;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.6875rem, 0.6337rem + 0.287vw, 1.1rem);
  font-weight: normal;
  color: #F2F2F2;
  opacity: 0.8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.cart-product .cart-stock {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 0;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.cart-product .cart-stock h3 {
  text-align: center;
}
.cart-product .cart-stock input {
  align-self: center;
  justify-self: center;
  text-align: center;
  height: 100px;
  font-size: 20px;
}
.cart-product .cart-price {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 0;
  grid-row-end: 2;
}
.cart-product .cart-price p {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  color: #FF5722;
  font-size: clamp(0.1rem, 0.895vw + 0.239rem, 1.713rem);
}

.delete-item {
  width: 60px;
  height: 70px;
  position: relative;
  display: flex;
  cursor: pointer;
}

.delete-item img {
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.trash-top {
  clip-path: inset(0 0 68% 0);
  transform-origin: bottom center;
}

.trash-bottom {
  clip-path: inset(32% 0 0 0);
}

.open {
  animation-name: trashMove;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.cart-remove {
  animation-name: cartRemove;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes trashMove {
  0% {
    transform: translate(0, 0);
    scale: 1;
  }
  50% {
    transform: translate(-10px, -40px) rotateZ(-35deg);
    scale: 1.2;
  }
  100% {
    transform: translate(0, 0);
    scale: 1;
  }
}
@keyframes cartRemove {
  0% {
    scale: 1;
  }
  40% {
    transform: translate(-750px, -220px);
    scale: 0.5;
  }
  100% {
    opacity: 0;
    transform: translate(-1000px, 100px) rotateZ(-10deg);
  }
}
.alert-trash {
  animation-name: trashAlert;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes trashAlert {
  0% {
    scale: 1;
    transform: translate(0, 0);
  }
  50% {
    transform: translateY(0, -150px);
    scale: 1.5;
  }
  100% {
    transform: translateY(0, 0px);
    scale: 1;
  }
}
/* Importamos componentes Estaticos*/
/*  Correspondiente al codigo general   */
.presentation {
  width: 100%;
  margin-bottom: 5rem;
}
.presentation .principal-img {
  width: 100%;
  max-height: 40rem;
  object-fit: cover;
  animation-name: imgEntrada;
  animation-iteration-count: 1;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}
.presentation h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 0.7391rem + 1.3913vw, 3rem);
  font-style: italic;
  text-align: center;
  color: #F2F2F2;
  animation-name: moveText;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}
.presentation .presentation-text {
  background-color: #0F0F0F;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.presentation .presentation-text div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}
.presentation .presentation-text div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}
.presentation .presentation-text div div .icon {
  width: 3.5rem;
}
.presentation .presentation-text div div h2 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
}
.presentation .presentation-text div p {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  text-align: center;
}
.presentation .presentation-text .impresora-presentation {
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
}

@keyframes moveText {
  0% {
    width: 100%;
    scale: 0;
    opacity: 0;
    transform: rotate(0deg);
    letter-spacing: 180px;
    color: #4DD0E1;
  }
  25% {
    width: 100%;
    scale: 0.5;
    opacity: 0.5;
    transform: rotate(5deg);
  }
  75% {
    width: 100%;
    scale: 0.5;
    opacity: 0.5;
    transform: rotate(-5deg);
  }
  100% {
    scale: 1;
    opacity: 1;
    transform: rotate(0deg);
    letter-spacing: 0px;
  }
}
@keyframes imgEntrada {
  from {
    transform: translate(0px, 100%) scale(0);
  }
  to {
    transform: translate(0px, 0%) scale(1);
  }
}
/*  Correspondiente al codigo general   */
.card-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0F0F0F;
  box-shadow: 1px 1px 2px rgba(85, 85, 85, 0.55);
  border-radius: 4.25rem;
  max-width: 22.0625rem;
  max-height: 35.5rem;
  padding: 1.5rem;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}
.card-product img {
  border-radius: 2.1875rem;
  width: 16.4375rem;
  height: 15.625rem;
  object-fit: contain;
}
.card-product p:nth-child(2) {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  color: #F2F2F2;
  align-self: start;
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-product p:nth-child(3) {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.813rem, 0.895vw + 0.239rem, 1.313rem);
  font-weight: normal;
  color: #F2F2F2;
  color: #FF6F00;
  align-self: start;
  padding: 0.5rem;
}
.card-product a {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.6875rem, 0.6337rem + 0.287vw, 1.1rem);
  font-weight: normal;
  color: #F2F2F2;
  padding: 0.5rem;
  text-decoration: underline;
  color: #4DD0E1;
}
.card-product a:hover {
  scale: 1.05;
}
.card-product a:active {
  color: #B2EBF2;
}
.card-product button {
  width: 14.3125rem;
  height: 2.0625rem;
  margin: 0.45rem 0;
}
.card-product .stock-select h3 {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 16px;
}
.card-product .stock-select div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.card-product .stock-select div .left-button {
  width: 2rem;
  height: 2rem;
}
.card-product .stock-select div p {
  width: 50px;
}

.ingresa-izquierda {
  animation-name: ingresaIzquierda;
  animation-iteration-count: infinite;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
}

.desaparece-izquierda {
  animation-name: desapareceIzquierda;
  animation-iteration-count: infinite;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
}

.move-left {
  animation-name: moveLeft;
  animation-iteration-count: infinite;
  animation-duration: 0.75s;
  animation-timing-function: linear;
}

.move-right {
  animation-name: moveRight;
  animation-iteration-count: infinite;
  animation-duration: 0.75s;
  animation-timing-function: linear;
}

.ingresa-derecha {
  animation-name: ingresaDerecha;
  animation-iteration-count: infinite;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
}

.desaparece-derecha {
  animation-name: desapareceDerecha;
  animation-iteration-count: infinite;
  animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
}

@keyframes ingresaIzquierda {
  0% {
    transform: translate(0px, -200px);
    scale: 0.2;
    opacity: 0;
  }
  100% {
    transform: translate(-225px, 0px);
    opacity: 1;
    scale: 1;
  }
}
@keyframes desapareceIzquierda {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translate(-225px, -200px);
    opacity: 0;
    scale: 0.2;
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-275px);
  }
}
@keyframes moveRight {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(275px);
  }
}
@keyframes ingresaDerecha {
  0% {
    transform: translate(0px, -200px);
    scale: 0.2;
    opacity: 0;
  }
  100% {
    transform: translate(225px, 0px);
    opacity: 1;
    scale: 1;
  }
}
@keyframes desapareceDerecha {
  0% {
    transform: translate(0px, 0px);
    opacity: 1;
    scale: 1;
  }
  100% {
    transform: translate(225px, -200px);
    opacity: 0;
    scale: 0.2;
  }
}
/*  Correspondiente al codigo general   */
.deliveries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #0F0F0F;
  margin-bottom: 10rem;
}
.deliveries div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
.deliveries figure {
  width: 100%;
}
.deliveries figure iframe {
  border: none;
  border-radius: 15px;
  width: 333px;
  height: 333px;
  margin: 1rem;
}
.deliveries h2 {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.7283rem + 0.7826vw, 2rem);
  font-weight: 750;
  color: #F2F2F2;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #B2EBF2;
  text-decoration-thickness: 2px;
}
.deliveries img {
  width: 3.5rem;
}
.deliveries p {
  width: 70%;
}
.deliveries figcaption {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.6875rem, 0.6337rem + 0.287vw, 1.1rem);
  font-weight: normal;
  color: #F2F2F2;
  text-align: center;
  color: #4DD0E1;
  padding: 1rem;
}

/*  Correspondiente a las mediaQ  */
@media (max-width: 1240px) {
  header {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
  }
  header img {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  header nav {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  header nav .lista-principal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  header nav .lista-principal li:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
  }
  header nav .lista-principal li:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;
    text-align: center;
  }
  header .search {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 200px;
  }
  header a {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  figure {
    width: 100%;
  }
  figure iframe {
    border: none;
    border-radius: 15px;
    max-width: 200px;
    max-height: 200px;
    margin: 1rem;
  }
  .customOrder div textarea {
    max-width: 40rem;
  }
  input {
    max-width: 40rem;
  }
  .login-component {
    max-width: 43rem;
  }
  .login-component input {
    max-width: 35rem;
  }
  .cart-product-container .cart-info p {
    max-width: 450px;
  }
  .presentation .presentation-text .impresora-presentation {
    max-width: 15rem;
    max-height: 15rem;
  }
  .cart-stock div div input {
    width: 2rem !important;
    height: 2rem !important;
    margin-left: 1rem;
  }
  .delete-item {
    max-width: 3.5rem;
    max-height: 3.5rem;
  }
  .cart-product input {
    max-width: 2rem;
    margin-right: 1rem;
  }
  .cart-product img {
    max-width: 5rem;
  }
  .agregar-prod-db {
    width: 96%;
  }
  .agregar-prod-db div div input {
    max-width: 25rem;
  }
  .actualizar-prod-db {
    width: 96%;
  }
  .actualizar-prod-db .inputs-db-change input {
    max-width: 25rem;
  }
  .actualizar-prod-db .buttons-submit {
    flex-direction: column;
  }
  .individual-product {
    align-self: center;
    margin: 2.5rem 0;
  }
  .individual-product .product-selection {
    flex-direction: column;
  }
  .individual-product .product-selection img {
    min-width: 6rem;
    max-width: 24rem;
  }
  .cart-product .cart-info .cart-description {
    max-width: 14.25rem;
  }
  .cart-product-container {
    gap: 1.25rem;
  }
  .cart-product .cart-price {
    width: 150px;
  }
  .order {
    flex-direction: column;
  }
  .order .finish-order {
    width: 80%;
  }
  .order .resume {
    margin-top: 2rem;
    width: 80%;
  }
}
@media (max-width: 800px) {
  .deliveries div {
    flex-direction: column;
  }
  .nav-hamburguesa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
  }
  .nav-hamburguesa .search {
    display: none;
  }
  .nav-hamburguesa nav ul {
    display: none;
  }
  .nav-hamburguesa nav .cuenta {
    display: none;
  }
  .nav-hamburguesa nav .hamburguesa {
    background-color: transparent;
    width: 5rem;
    height: 5rem;
    margin: 2rem;
  }
  .nav-hamburguesa nav .hamburguesa img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
  }
  .nav-hamburguesa a {
    display: none;
  }
  .nav-hamburguesa .open-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(89, 89, 89, 0.575);
  }
  .nav-hamburguesa .open-menu nav {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .nav-hamburguesa .open-menu .lista-principal {
    background: #020024;
    background: linear-gradient(169deg, rgb(2, 0, 36) 0%, rgba(145, 68, 0, 0.95) 46%, rgb(5, 0, 0) 100%, rgba(99, 46, 0, 0.91) 63%);
    padding: 2rem;
    margin: 4rem;
    margin-top: 5rem;
    display: flex !important;
    flex-direction: column;
    gap: 4rem;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 85%;
    height: 100%;
    box-shadow: 0 0 15px rgba(255, 102, 0, 0.5);
    border-radius: 60px;
  }
  .nav-hamburguesa .open-menu .lista-principal .cuenta {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .nav-hamburguesa .open-menu .lista-principal .cuenta ul {
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    gap: 1.5rem;
  }
  .nav-hamburguesa .open-menu .lista-principal .productos {
    max-height: 80px;
  }
  .nav-hamburguesa .open-menu .lista-principal .productos ul {
    display: none;
  }
  .nav-hamburguesa .open-menu .lista-principal .productos:hover {
    margin-bottom: 2.5rem;
  }
  .nav-hamburguesa .open-menu .lista-principal .productos:hover ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100px;
    width: 100%;
    position: relative;
    left: 0;
    margin: 0;
  }
  .nav-hamburguesa .open-menu a {
    display: block;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
  }
  .nav-hamburguesa .open-menu button {
    display: block;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .customOrder div input {
    max-width: 24rem;
  }
  .customOrder div textarea {
    max-width: 24rem;
  }
  .card-container .arrow {
    max-height: 1.35rem !important;
    max-width: 2.5rem !important;
  }
  .card-container .arrow img {
    max-width: 7rem;
  }
  .card-container .card-product {
    margin: 0;
    max-height: 30rem;
  }
  .card-container .card-product img {
    max-width: 12rem;
    max-height: 12rem;
  }
  .card-container .card-product button {
    max-width: 10rem;
  }
  .login-component {
    max-width: 23rem;
  }
  .login-component img {
    width: 3rem;
  }
  .login-component input {
    max-width: 15rem;
  }
  .redes {
    max-width: 26.5rem;
  }
  .individual-product {
    margin: 2rem 2rem;
  }
  .individual-product button {
    min-width: 4rem;
    max-width: 17.5rem;
  }
  .cart-product .cart-info .cart-description {
    max-width: 5rem;
  }
  .cart-product .cart-price {
    scale: 1.6;
  }
  .cart-product {
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: flex-start;
    margin-right: 1rem;
  }
  .cart-product input {
    display: none;
  }
  .cart-product img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    min-width: 80%;
    margin-left: 5px;
    min-height: 10rem;
  }
  .cart-product .cart-info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .cart-product .cart-info h3 {
    width: 100%;
    margin: 0;
  }
  .cart-product .cart-stock {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .cart-product .cart-stock div {
    height: 2rem;
  }
  .cart-product .cart-price {
    width: fit-content;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 100%;
  }
  .cart-product .cart-info .cart-description {
    max-width: 9rem;
  }
  .order {
    padding: 1rem;
  }
  .order .finish-order {
    width: 100%;
  }
  .order .resume {
    width: 100%;
  }
  .order .resume .order-resume .order-resume-prod {
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  .presentation .presentation-text {
    flex-direction: column;
    padding: 1rem;
  }
  .presentation .presentation-text div {
    width: 100%;
    margin-bottom: 2rem;
  }
  .ingresa-izquierda {
    animation-name: ingresaIzquierda;
    animation-iteration-count: infinite;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
  }
  .desaparece-izquierda {
    animation-name: desapareceIzquierda;
    animation-iteration-count: infinite;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
  }
  .move-left {
    animation-name: moveLeft;
    animation-iteration-count: infinite;
    animation-duration: 0.75s;
    animation-timing-function: linear;
  }
  .move-right {
    animation-name: moveRight;
    animation-iteration-count: infinite;
    animation-duration: 0.75s;
    animation-timing-function: linear;
  }
  .ingresa-derecha {
    animation-name: ingresaDerecha;
    animation-iteration-count: infinite;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
  }
  .desaparece-derecha {
    animation-name: desapareceDerecha;
    animation-iteration-count: infinite;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
  }
  @keyframes ingresaIzquierda {
    0% {
      transform: translateY(0px);
      scale: 1;
      opacity: 0;
    }
    100% {
      transform: translateY(-250px);
      opacity: 1;
      scale: 1;
    }
  }
  @keyframes desapareceIzquierda {
    0% {
      transform: translateY(0px);
      opacity: 1;
      scale: 1;
    }
    100% {
      transform: translateY(-250px);
      opacity: 0;
      scale: 1;
    }
  }
  @keyframes moveLeft {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-275px);
    }
  }
  @keyframes moveRight {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(275px);
    }
  }
  @keyframes ingresaDerecha {
    0% {
      transform: translateY(200px);
      scale: 1;
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
      scale: 1;
    }
  }
  @keyframes desapareceDerecha {
    0% {
      transform: translateY(0px);
      opacity: 1;
      scale: 1;
    }
    100% {
      transform: translateY(-200px);
      opacity: 0;
      scale: 1;
    }
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer section:nth-child(1) {
    margin-bottom: 2rem;
  }
  .remarkable-products .card-container .arrow img {
    max-width: 4rem;
  }
  .remarkable-products .links {
    max-width: 16.8rem;
  }
  .card-product {
    padding: 1rem;
    border-radius: 15px;
  }
  .customOrder {
    padding: 0.6rem;
  }
  .customOrder div input {
    max-width: 18.5rem;
  }
  .customOrder div textarea {
    max-width: 18.5rem;
  }
  .customOrder button {
    max-width: 18.5rem;
  }
  .customOrder button {
    max-width: 10rem !important;
  }
  .redes {
    max-width: 20rem;
  }
  .redes div a img {
    max-width: 3.5rem;
  }
  .individual-product {
    margin: 2rem 0.25rem;
  }
  .individual-product .product-selection img {
    min-width: 1rem;
    max-width: 15rem;
  }
  .cart-product .cart-price {
    width: 10px;
  }
  .order .resume .order-resume .order-resume-prod h4 {
    width: 110px;
  }
}

/*# sourceMappingURL=style.css.map */
