$colores: (
    fondoPrincipal: #0F0F0F,
    fondoSecundario: #2A2A2A,
    iconosELinks: #4DD0E1,
    textoPrincipal: #F2F2F2,
    elementosReactivos1: #FF5722,
    elementosReactivos2: #FF6F00,
    alternativa1: #330B2C,
    alternativa2: #B2EBF2
);

@function usarColor($color){
    @return map-get($colores, $color)
}