@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/funciones";
@use "../base/typo";



header{
    position: sticky;
    top: 0;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr 1fr;
    height: 13vh;
    width: 100%;
    background-color: funciones.usarColor(fondoPrincipal);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.365);

    img{
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: center;
        align-self: center;
        object-fit: cover;
        width: 58%;
        border-radius: 50%;
        padding: .625rem;
    }
    nav{
        display: grid;
        grid-column-start: 2;
        grid-column-end: 10;
        grid-row: 2;
        .lista-principal{
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-template-rows: 1fr;
            list-style: none;
        }
        @for $i from 1 through 3{
            .lista-principal li:nth-child(#{$i}){
                grid-column: #{$i};
                text-align: center;
            }
        }
        .lista-principal li:nth-child(4){
            grid-column: 6;
            text-align: center;
        }
        .lista-principal li:nth-child(5){
            grid-column-start: 7;
            grid-column-end: 9;
            text-align: center;
        }
        
        .productos{
            .sublista-categoria{
                display: none;
                position: absolute;
                background-color: funciones.usarColor(fondoSecundario);
                padding: 0.75rem;
                border-radius: 15px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
                li{
                    margin: 1rem;
                    list-style: none;
                    a{
                        @include typo.font-tSmall;
                        color: funciones.usarColor(alternativa2);
                        &:hover{
                            color: funciones.usarColor(iconosELinks);
                        }
                    }
                }
            }
            &:hover{
                .sublista-categoria{
                    display:block;
                }
            }
        }
    }
    a{
        grid-row: 1;
        grid-column: 9;
        justify-self: center;
        align-self: center;
        &:hover{
            color: funciones.usarColor(elementosReactivos1);
            scale: 1.52;
        }
        &:active{
            color: funciones.usarColor(elementosReactivos2);
        }
    }
    .search{
        grid-column-start: 2;
        grid-column-end: 9; 
        background-color: funciones.usarColor(textoPrincipal);
        border-radius: 16px;
        width: 50vw;
        height: 1.85rem;
        align-self: center;
        justify-self: center;
        input{
            width: 50vw;
            height: 1.85rem;
            background-color: funciones.usarColor(textoPrincipal);
            color: funciones.usarColor(elementosReactivos1);
        }
    }
}

.scroll-down{
    display: none;
}
.scroll-up{
    display: grid;
}
.scroll-down-animation{
    animation-name: scrollDown;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
.scroll-up-animation{
    display: grid;
    animation-name: scrollUp;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes scrollDown{
    from{
        width: 100%;
        opacity: 100%;
    }
    to{
        width: 0%;
        opacity: 0%;
    }
}
@keyframes scrollUp{
    from{
        width: 0%;
        opacity: 0%;
    }
    to{
        width: 100%;
        opacity: 100%;
    }
}
