@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/funciones";
@use "../base/typo";
main{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    p{
        text-align: center;
        align-self: center;
    }
}