@use "../../utilities/variables";
@use "../../utilities/mixins";
@use "../../utilities/funciones";
@use "../../base/typo";

.card-product{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: funciones.usarColor(fondoPrincipal);
    box-shadow: 1px 1px 2px rgba(85, 85, 85, 0.55);
    border-radius: 4.25rem;
    max-width: 22.0625rem;
    max-height: 35.5rem;
    padding: 1.5rem;
    box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
    img{
        border-radius: 2.1875rem;
        width: 16.4375rem;
        height: 15.625rem;
        object-fit:contain;
    }
    p:nth-child(2){
        @include typo.font-tRegular;
        color: funciones.usarColor(textoPrincipal);
        align-self: start;
        padding: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    p:nth-child(3){
        @include typo.font-tRegular;
        color: funciones.usarColor(elementosReactivos2);
        align-self: start;
        padding: 0.5rem;
    }
    a{
        @include typo.font-tSmall;
        padding: 0.5rem;
        text-decoration: underline;
        color: funciones.usarColor(iconosELinks);
        &:hover{
            scale: 1.05;
        }
        &:active{
            color: funciones.usarColor(alternativa2);
        }
    }
    button{
        width: 14.3125rem;
        height: 2.0625rem;
        margin: 0.45rem 0
    }
    .stock-select{
        h3{
            margin-top: 0.5rem;
            text-align: center;
            font-size: 16px;
        }
        div{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            .left-button{
                width: 2rem;
                height: 2rem;
            }
            p{
                width: 50px;
            }
        }
    }
}
.ingresa-izquierda{
    animation-name: ingresaIzquierda;
    animation-iteration-count: infinite;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
}
.desaparece-izquierda{
    animation-name: desapareceIzquierda;
    animation-iteration-count: infinite;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
}
.move-left{
    animation-name: moveLeft;
    animation-iteration-count: infinite;
    animation-duration: 0.75s;
    animation-timing-function: linear;
}
.move-right{
    animation-name: moveRight;
    animation-iteration-count: infinite;
    animation-duration: 0.75s;
    animation-timing-function: linear;
}
.ingresa-derecha{
    animation-name: ingresaDerecha;
    animation-iteration-count: infinite;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
}
.desaparece-derecha{
    animation-name: desapareceDerecha;
    animation-iteration-count: infinite;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
}

@keyframes ingresaIzquierda {
    0%{
        transform: translate(0px,-200px);
        scale: 0.2;
        opacity: 0;
    }
    100%{
        transform: translate(-225px,0px);
        opacity: 1;
        scale: 1;
    }
}
@keyframes desapareceIzquierda {
    0%{
        transform: translate(0px, 0px);
        opacity: 1;
        scale: 1;
    }
    100%{
        transform: translate(-225px, -200px);
        opacity: 0;
        scale: 0.2;
    }
}
@keyframes moveLeft {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-275px);
    }
}

@keyframes moveRight {
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(275px);
    }
}
@keyframes ingresaDerecha{
    0%{
        transform: translate(0px,-200px);
        scale: 0.2;
        opacity: 0;
    }
    100%{
        transform: translate(225px,0px);
        opacity: 1;
        scale: 1;
    }
}
@keyframes desapareceDerecha {
    0%{
        transform: translate(0px, 0px);
        opacity: 1;
        scale: 1;
    }
    100%{
        transform: translate(225px, -200px);
        opacity: 0;
        scale: 0.2;
    }
}