@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/funciones";
@use "../base/typo";

.individual-product{
    margin: 4rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: funciones.usarColor(fondoPrincipal);
    box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
    
    .product-selection{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        justify-content: space-evenly;
        width: 100%;
        
        .carrousel {
            width: 100%;
            height: 100%;
            margin: 2rem;
            padding: 1rem;
            animation: imageAppear 1s ease-in-out;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        .info-detail{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            animation-name: detailAppear;
            animation-iteration-count: 1;
            animation-duration: 1s;
            animation-timing-function: ease-in-out;
            h2{
                @include typo.font-tSecundario;
                text-decoration: none;
                width: 50dvw;
                font-size: clamp(0.875rem, 0.7543rem + 0.6435vw, 1.8rem);
                text-align: start;
                padding-top: 2rem;
                padding-left: 2rem;
            }
            p{
                @include typo.font-tRegular;
                color: funciones.usarColor(elementosReactivos2);
                width: 100%;
                text-align: start;
                font-size: clamp(0.8125rem, 0.7098rem + 0.5478vw, 1.6rem);
                margin-top: 1rem;
                padding-left: 2rem;
            }
            h3{
                @include typo.font-tRegular;
                text-decoration: underline;
                text-align: center;
            }
            .item-selector{
                align-self: flex-start;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;
                label{
                    @include typo.font-tSmall;
                    width: 100%;
                    text-align: center;
                    
                    input {
                        margin-top: 0.5rem;
                        width: 100%;
                        border: 1px solid funciones.usarColor(elementosReactivos1);
                        border-radius: 8px;
                    }
                }
            }
            .stock-select{
                margin-top: 1rem;
                div{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    p{
                        width: 100px;
                        margin: 0;
                        padding: 0;
                        text-align: center;
                    }
                    button{
                        width: 60px;
                    }
                }
            }
            button{
                margin: 1rem;
                width: 400px;
                align-self: center;
            }
        }
    }
    .product-description{
        width: 100%;
        padding: 3.5rem;
        h2{
            @include typo.font-tSecundario;
            text-decoration: none;
            width: 50dvw;
            font-size: clamp(0.875rem, 0.7543rem + 0.6435vw, 1.8rem);
            text-align: start;
            margin-bottom: 1.5rem;
        }
        animation-name: descriptionAppear;
        animation-iteration-count: 1;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    };
    .product-questions{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation-name: descriptionAppear;
        animation-iteration-count: 1;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        img{
            margin-bottom: 0.5rem;
        }
        p{
            margin-bottom: 0.5rem;
            color: funciones.usarColor(iconosELinks);
        }
        button{
            margin-bottom: 3rem;
            a{
                color:funciones.usarColor(fondoPrincipal);
                text-decoration: underline;
                
            }
        }
    }
}

@keyframes detailAppear{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes imageAppear{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}
@keyframes descriptionAppear{
    from{
        transform: translateY(100%);
    }
    to{
        transform: translateX(0%);
    }
}