@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/funciones";
@use "../base/typo";

body{
    background-color: funciones.usarColor(fondoPrincipal);
}

:is(h1,h2,h3,h4,p,a,legend, img){
    color: funciones.usarColor(textoPrincipal);
    @include typo.font-tSmall;
}

a{
    @include typo.font-tRegular;
    color: funciones.usarColor(iconosELinks);
}