@use "../utilities/variables";
@use "../utilities/mixins";
@use "../utilities/funciones";
@use "../base/typo";

body{
    background-color: funciones.usarColor(fondoSecundario);
    height: 100%;
    div{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
}

:is(h1,h2,h3,h4,p,legend, img){
    @include typo.font-tSmall;
}

a{
    @include typo.font-tRegular;
    color: funciones.usarColor(iconosELinks);
}